<launch>
	<!-- Please provide the rough position of the camera, which is needed to specify the calibration movement -->
	<arg name="robot" default="IIWA" />
	<arg name="iterations" default="100" />
	<arg name="camera_name" default="kinect2" />
	<arg name="threshold" default="1e-15" />
	<arg name="marker_size" default="0.1255" />
	<arg name="camera_path" default="$(find iiwa_calibration)/config/calibration_path_iiwa.txt" />
	<arg name="aruco_marker_description" default="$(find lbr_camera_calibration)/aruco_boards/board_2_1/board.yml" />
	<arg name="cal_save_path" default="$(find iiwa_calibration)/calibration_files/table_camera_to_iiwa.mat" />

	<!-- Start camera -->
	<include file="$(find kinect2_bridge)/launch/kinect2_bridge.launch">
		<arg name="publish_tf" default="true" />
	</include>

	<!-- otherwise we use iiwa -->
	<include file="$(find kuka_manager)/launch/iiwa_manager.launch" />

	<param name="robot_description" textfile="$(find iiwa_description)/urdf/iiwa_sdh2.urdf" />
	<node name="iiwa_robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />

	<node name="lbr_camera_calibration" pkg="lbr_camera_calibration" type="lbr_camera_calibration" output="screen" args="
			--camera $(arg camera_name)			
			--robot $(arg robot)
			-i $(arg iterations)
			--th $(arg threshold)
			-m $(arg marker_size)
			-t $(arg camera_path)
			-b $(arg aruco_marker_description)
			-s $(arg cal_save_path)
			--visualize" />

	<node pkg="rviz" type="rviz" name="rviz" args="-d $(find iiwa_calibration)/rviz/iiwa_table.rviz" />
</launch>
